beautifulsoup4
chromadb
cohere
datasets
deepeval
grouse
langchain
langchain-community
langchain-openai
langchain-chroma
langchainhub
numpy
pytube
python-dotenv
ragas
fastembed
requests
tiktoken
youtube-transcript-api
